.contactList {
  width: 400px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid blue;
  border-radius: 5px;
}

.deleteButton {
  margin-left: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(244, 153, 153);
}

.contactItem {
  margin-bottom: 5px;
}

.contactItem:last-of-type {
  margin-bottom: 0;
}
